# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv

# Builds
build/
dist/

# Data
data/
others/

# Docs
docs/build/

# Tests
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
